{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar Personal</title>

    <!-- Importe o CSS do Bootstrap usando um CDN -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/personal_list.css' %}"
    />
  </head>
  <body>
    <section >
      <h3>Gerenciar  Treinadores </h3>
      <section class="painel">
        <div class="message">
          <p>Enviar Mensagem em Massa</p>
          <div>
            <img src="{% static 'images/msg.png' %}"/>
          </div>
        </div>
        <div class="qtd">
          <p>Quantidade de Treinadores </p>
          <h1>{{ personal_trainer_length }}</h1>
        </div>
        <div class="add-personal">
          <a href="{% url 'form_personal_trainer' %}">
            <p>Adicionar Treinador</p>
              <div>
                <img src="{% static 'images/add.png' %}">
              </div>
            </a>
        </div>
      </section>
    </section>
    <section class="section-table">
      <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Especialização</th>
                <th>Experiência</th>
                <th>Numero de registro</th>
                <th style="text-align: center;">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for personal_trainer in personal_trainers %}
                <tr data-id={{personal_trainer.id}}>
                    <td >{{ personal_trainer.name }}</td>
                    <td>{{ personal_trainer.specialization }}</td>
                    <td>{{ personal_trainer.experience }}</td>
                    <td>{{ personal_trainer.registration_number }}</td>
                    <td style="width: 250px;">
                      <button class="btn btn-deletar" type="button"><a href="{% url 'url_delete' personal_trainer.id %}">Deletar</a></button>
                      <button class="btn btn-editar" type="button"><a href="{% url 'url_update' personal_trainer.id %}">Editar</a></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </section>
    <footer>
      <div>
        <h3>Entre em contato : <span>+55 00000-0000<span></h3>
        <h3>Follow us : @academiaEstacio</h3>
      </div>
      <h3>Copyright @2023 . Todos os Direitos Reservados</h3>
    </footer>
    <!-- Importe os scripts JavaScript do Bootstrap usando um CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
